@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --bg-gradient: linear-gradient(90deg, rgb(194, 222, 248) 0%, rgb(253, 238, 247) 25%, rgba(255,255,255,1) 50%, rgb(251, 233, 246) 75%, rgb(194, 222, 248) 100%);
    --border-gradient: linear-gradient(to right, rgb(193, 193, 237), rgb(234, 193, 255)) 1;
    --color1: rgb(0, 0, 0);
    --color2: rgb(67, 77, 131);
    --color3: rgb(93, 102, 148);
}

html {
    .barlow-regular {
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    background: var(--bg-gradient) fixed;
    color: var(--color1); 
}

.header {
    height: 100px;
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.824);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    animation: fadeInDownBig;
    animation-duration: 1s;
}
 /* Container so that my buttons and text are even on the same row visually */
.container {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 20px;
}

.flexbox {
    flex: 2;
    margin-right: 20px;
    animation: fadeInDownBig;
    animation-duration: 1s;
}

.col-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-2 a {
    margin: 20px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 200px;
}

 /* Button text will underline when hovered*/
.col-2 a:hover {
    text-decoration: underline;
}
 /* My main buttons on the top of the page - for going to different sections of my website */
.border-box {
    padding: 5px 10px;
    border-color: rgb(11, 4, 4);
    border-width: 4px;
    border-style: solid;
    border-radius: 10em;
    align-items: center;
}

 /* The sections of my page (Digital art, paintings, etc) */
.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections p {
    width: 75%;
}
.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sections p{
    width: 75%;
  
}
 /* The images within my website*/
.image{
    display: flex;
    justify-content: top;
    align-items: top;
    margin-top: 50px;
}

.images {
    display: flex;
    align-items: flex-start;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
/* The modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal image */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  justify-content: center;
  align-items: center;
}

/* Caption of image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add animation - zoom in the modal */
.modal-content, #caption { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,

.close:focus {
  
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  
}

@media (max-width: 767px) {
  .flexbox {
      display: block;
      margin-top: 0px;
  }
img{
  width: 100%;
}

}
